<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <h2 class="request-title"><a href="#/requests" class="go-back"><i class="fa fa-chevron-left"></i></a> {{ item.title }}</h2>
        </div>
        <div class="pull-right">
            <!--{{partial "requests/new"}}-->

            <button ng-if="item.status === 'open'" class="btn btn-default" ng-click="close(item)">Close</button>

            <button ng-if="item.status === 'closed'" class="btn btn-default" ng-click="reOpen(item)">Re-open</button>

            <a href="#/requests.edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 request-header-meta">
        <div class="request-header-status">
            <span class="label label-warning"><i class="fa fa-info-circle"></i> {{ item.status }}</span>
        </div>
        <span class="author">{{ item.author }}</span> opened this request {{ item.creationDate | formattedDate }} · {{ item.comments.length }} comment
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span>updated by {{ item.author }}&nbsp;{{ item.lastUpdated | formattedDate }}</span>
      </div>
      <div class="panel-body" ng-bind-html="item.description | markdown">
      </div>
    </div>
  </div>
</div>
<hr>

<!-- comments -->
<div ng-if="item.comments.length > 0" ng-repeat="comment in item.comments">
    <!-- System logs -->
    <div class="row" style="padding-top:15px;padding-bottom:15px" ng-if="comment.systemLog">
      <div class="col-md-1">
      </div>
      <div class="col-md-11 meta-info">
        <span class="label label-danger"><i class="fa fa-ban"></i></a></span> <span class="author">{{ author }}</span> changed this to <strong>{{ comment.comment }}</strong> {{ lastUpdated | formattedDate }}.
      </div>
    </div>

    <!-- normal comments -->
    <div class="row" ng-if="comment.systemLog === false">
      <div class="col-md-1">
        <img alt="Juri Strumpflohner" class="timeline-comment-avatar js-avatar" data-user="542458" height="48" src="https://avatars2.githubusercontent.com/u/542458?s=140" width="48">
      </div>
      <div class="col-md-11">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>created by {{ comment.author }}&nbsp;{{ comment.lastUpdated | formattedDate }}</span>
            <span class="pull-right">
              <a href="#" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
              <button class="btn btn-default btn-xs" ng-click="removeComment(comment)">
                <i class="fa fa-times"></i>
              </button>
            </span>
          </div>
          <div class="panel-body" ng-bind-html="comment.comment | markdown">
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-1">
    <img alt="Juri Strumpflohner" class="timeline-comment-avatar js-avatar" height="48" src="https://avatars2.githubusercontent.com/u/542458?s=140" width="48">
  </div>
  <div class="col-md-11">
    <form role="form">
      <div class="form-group">
        <textarea ng-model="commentBody" class="form-control" placeholder="Enter your comment..">
        </textarea>
      </div>
      <div>
        <button class="btn btn-default btn-success pull-right" ng-click="addComment(commentBody)">Add comment</button>
      </div>
    </form>
  </div>
</div>