/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.issues-list .issue {
    padding: 10px;
    position: relative;
}

ul.well-list {
    margin: 0;
    padding: 0;
}

.request-title{
    margin-left: -25px;
}

.go-back {
    color: #ccc;
}

.go-back:hover {
    color: #4183c4;
}

.well-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.well-list li:hover {
    background: #d9edf7;
    border-bottom: 1px solid #ADF;
}

.well-list li {
    padding: 10px;
    min-height: 20px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.issues-list .issue .issue-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.issues-list .issue .issue-info {
    color: #999;
}

.issues-list .issue .issue-actions {
    position: absolute;
    top: 10px;
    right: 2px;
}

small, .small {
    font-size: 85%;
}

.str-truncated {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    max-width: 82%;
}

.request-header-meta {
    margin-top: 9px;
    font-size: 14px;
    line-height: 28px;
    color: #777;
    padding-bottom: 20px;
}

.request-header-status {
    position: relative;
    float: left;
    padding: 4px 8px;
    margin-right: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    border-radius: 3px;
}

.meta-info {
    color: #777;
}

.author {
    color: #555;
    font-weight: bold;
}