<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h1>Issues</h1>
    </div>
    <div class="pull-right">
      <a href="#/request/create" class="btn btn-success"><i class="fa fa-plus"></i> New Issue</a>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ng-class="{active: assignedFilter == ''}">
        <a href="#/requests">All</a>
      </li>
      <li ng-class="{active: assignedFilter == 'assigned'}">
        <a href="#/requests/assigned">Assigned to you</a>
      </li>
      <li ng-class="{active: assignedFilter == 'created'}">
        <a href="#/requests/created">Created by you</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="request-filter-actions">
      <a href="#/requests/{{assignedFilter}}?status=open" class="btn btn-default btn-sm">
        {{ (requests | filter:{status:'open'}).length }} Open
      </a>
      <a href="#/requests/{{assignedFilter}}?status=closed" class="btn btn-default btn-sm">
        {{ (requests | filter:{status:'closed'}).length }} Closed
      </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <input type="checkbox">
        </div>
        <div class="panel-body" style="padding:0">
          <ul class="well-list issues-list">
            <li class="issue" request-list-entry="item" ng-if="requests.length > 0" ng-repeat="item in requests | filter:{status:statusFilter}">
            </li>
            <li ng-if="(requests | filter:{status:statusFilter}).length == 0">
              Oops, nothing to show here. Do you want to <a href="#/request/create">add</a> a new one??
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>